/* Landon Harrison, version 1 */

:root {
	--custom-green: rgb(183,224,88,.4); 
	--custom-blue: rgb(99,139,224,.7);
	}

body {
	background-image: linear-gradient(to bottom right, var(--custom-green), var(--custom-blue));
	}

.h1 {
	font-family: "Lucida Handwriting", cursive;
	}
.column{
	float: left;
	width: 33.33%;
	padding: 5px;
	}
.row::after{
	clear: both;
	display: table;	
	}
	
	@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}

.p {
	white-space: pre-wrap;
}

.p2 {
	font-size: 50;
}

div {
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
	}


/*all for below is dropdown menu */
/* inspired by How TO - Hoverable Dropdown [https://www.w3schools.com/howto/howto_css_dropdown.asp] */
.dropbtn{
	background-color: #5a10ba;
	color: rgb(137, 189, 201);
	padding: 8px;
	font-size: 16px;
	border: none;
}
.dropdown{
	position: relative;
	display: inline-block;
}
.dropdown-content{
	position: absolute;
	display: none;
	background-color: #F1F1F1;
	min-width: 160px;
	max-height: 200px;
	overflow: scroll;
	box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #5E8C8F;}
